body, html {
    background-color: blue;
    font-family: 'system-ui', cursive;
    height: 100%;
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 7px;
    height: 5em;
    background-color: rgb(101, 208, 21);
}

.navbar-button {
    color: rgb(101, 208, 21);
    border: none;
    background-color: rgb(101, 208, 21);
    font-family: 'system-ui', cursive;
    font-size: 1px;
    padding-left: 2px;
}

.navbar-button:hover{
    color: red;
    cursor: pointer;
}

a {
    text-decoration: none;
}

a:hover{
    color: red;
}

body {
    text-align: justify;
    padding-left: 2em;
    padding-right: 2em;
}