<h1>Welcome, <%= @user.username %>!</h1>

<a href="/users/<%=@user.id%>/edit">Edit your account</a>

<h2><a href="/jedis">Look at your Jedis</a></h2>

<h2><a href="/lightsabers">Look at your Lightsabers</a></h2>


