
<form action="/droids" method="POST">
    Droid Name:
    <input type="text" name="name" placeholder="Name"><br>

    Colors:
    <input type="text" name="colors" placeholder="Colors"><br>

    Droid Model:
    <input type="text" name="droid_model" placeholder="Droid Model"><br>

    Create Your Droid
    <input type="submit" value="Create">
</form>