
<form action="/lightsabers/<%=@lightsaber.id%>" method="POST">
    <input id="hidden" type="hidden" name="_method" value="patch">
    Color:
    <input type="text" name="color" value="<%=@lightsaber.color%>"><br>

    <br>

    Saber Style:
    <input type="text" name="saber_style" value="<%=@lightsaber.saber_style%>"><br>

    <br>

    Saber Handle:
    <input type="text" name="saber_handle" value="<%=@lightsaber.saber_handle%>"><br>

    <br>

    Edit Your Lightsaber:
    <input type="submit" name="submit" value="Update">
</form>