<a href="/lightsabers/new">Create a New Lightsaber:</a><br>

<br>

<% @lightsabers.each do |lightsaber| %>
    <% if lightsaber.user == current_user %>
        <a href="/lightsabers/<%=lightsaber.id%>"><%=lightsaber.color%><%=lightsaber.saber_style%><%=lightsaber.saber_handle%></a>
    <% end %>
<% end %>