<a href="/lightsabers/new">Create Lightsaber</a><br><br>

<li>
    <% @lightsabers.each do |lightsaber| %>
        <a href="/lightsabers/<%=lightsaber.id%>">
            <%=lightsaber.name%>
        </a>
    <% end %>
</li>

<br><br>