<div class="form">
    <h1>New Lightsaber</h1>
    <form action="/lightsabers" method="POST">
        <div class="form-group">
        Lightsaber Name:
        <input type="text" name="name" placeholder="Name"><br>

        Color:
        <input type="text" name="color" placeholder="Color"><br>

        Saber Type:
        <input type="text" name="saber_type" placeholder="Saber Type"><br>

        Saber Handle:
        <input type="text" name="saber_handle" placeholder="Saber Handle"><br>
        
        </div>
        <button type="submit" class="btn btn-primary">Create</button>
    </form>
</div>