Color: <%= @lightsaber.color %><br>
Saber Style: <%= @lightsaber.saber_style %><br>
Saber Handle: <%= @lightsaber.saber_handle %><br>

<br>

<a href="/lightsabers/<%= @lightsaber.id %>/edit_lightsaber">Edit Lightsaber</a>