Color: <%= @lightsaber.color %><br>
Saber Style: <%= @lightsaber.saber_style %><br>
Saber Handle: <%= @lightsaber.saber_handle %><br>

<a href="/lightsabers/<%=@lightsaber.id%>/edit">Edit Lightsaber</a>