<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Jedi Temple</title>
  </head>
  <body>
    <div class="container">
      <h1>Welcome to the Jedi Temple!</h1>
      <h2>Create Jedis with their own lightsaber and droid!</h2>
    </div>

    <%= yield %>

    <% if logged_in? %>
        <form action="/logout" method="POST">
          <input type="hidden" name="_method" value="delete">
          <input type="submit" value="Logout">
        </form>
    <% end %>
  </body>
</html>
