<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <title>Jedi Temple</title>
  </head>
  <body>
    <div class="container">
      <h1>Welcome to the Jedi Temple!</h1>
      <h2>Create Jedis with their own lightsaber and droid!</h2>
    </div>

    <%= yield %>

    <% if logged_in? %>
        <form action="/logout" method="POST">
          <input type="hidden" name="_method" value="delete">
          <input type="submit" value="Logout">
        </form>
    <% end %>
  </body>
</html>
