<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jedi Temple</title>
    <link rel="stylesheet" href="/stylesheets/main.css">
  </head>

  <body>

    <%= render_navbar %>

    <h1>Welcome to the Jedi Temple!</h1>
    
    <%= yield %>
  </body>
</html>