<!doctype html>
<html>
  <head>
    <title>Galactic Shop</title>
  </head>
  <body>

    <div class="container">
      <h1>Welcome to the Galactic Shop!</h1>
      <h2>Get your credits ready!</h2>
    </div>

  <%=yield%>
  
  </body>
</html>
