<div class="navbar">
    <img class="navbar-logo" src="https://www.freepnglogos.com/uploads/star-wars-logo-design-21.png">
    <a href="/show">Home</a>
    <a href="/lightsabers">Your Lightsabers</a>
    <a href="/jedis">Your Jedis</a>
    <form action="/logout" method="POST">
        <input type="hidden" name="_method" value="delete">
        <input class="navbar-button" type="submit" value="Log Out">
    </form>
</div>