<div class="navbar">
    <a href="/show">Home</a>
    <a href="/lightsabers">Your Lightsabers</a>
    <a href="/lightsabers/new">New Lightsaber</a>
    <form action="/logout" method="POST">
        <input type="hidden" name="_method" value="delete">
        <input class="navbar-button" type="submit" value="Log Out">
    </form>
</div>