<div class="navbar">
    <img class='navbar-logo' src="https://www.freepnglogos.com/uploads/star-wars-logo-design-21.png">
    <a href="/">Home</a>
    <a href="/login">Login</a>
    <a href="/signup">Signup</a>
</div>