<div class="navbar">
    <p><a href="/dash">Home</a></p>
    <p><a href="/lightsabers">Your Lightsabers</a></p>
    <p><a href="/jedis">Your Jedis</a></p>
    <form action="/logout" method="POST">
        <input type="hidden" name="_method" value="delete">
        <input class="navbar-button" type="submit" value="Log Out">
    </form>
</div>