<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Jedi Temple</title>
        <link rel="stylesheet" href="/stylesheets/main.css">
    </head>

    <body>
        <div class="not-found-page">
            <h1 class="four-zero-four">403</h1>
            <h1>Sorry, you will have to <a href="/login">Log In</a> or <a href="/signup">Sign Up</a> to access this page.</h1>
        </div>
    </body>
</html>