<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Jedi Temple</title>
        <link rel="stylesheet" href="/stylesheets/main.css">
    </head>

    <body>
        <div class="not-found-page">
            <h1 class="four-zero-four">404</h1>
            <h1>Sorry, this page does not exist!</h1>
            <a href="/show">Dashboard</a>
            <a href="/">Login or Signup</a>
        </div>
    </body>
</html>